* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 15px 40px;
}

#menu-left ul li {
    display: inline-block;
    color: #333;
    text-decoration: none;
}

#iconos {
    display: block;
    text-align: right;
}
#menu-left ul li a:link, #menu-left ul li a:visited, #menu-left ul li a:active {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
}   
#menu-left ul li a:hover {

    color: #4b71ed;
    text-decoration: none;
    
}